@use "~@angular/material" as mat;

$background: #fff;
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$typography-config: mat.define-typography-config(
  $font-family:
    "-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji",
  $button: mat.define-typography-level(inherit, inherit, 500),
);

$primary-palette: mat.define-palette(mat.$blue-palette);
$accent-palette: mat.define-palette(mat.$yellow-palette);
$warn-palette: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
  )
);
